/*style for header*/
/**{
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
}*/

.header{
 /* height: 20vh;*/
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(pics/p1.jpg);
  background-size: cover;
  background-position: center;
  mask-border-outset: 30px;
  /*position: fixed;*/
  z-index: 9999;
  top: 0;
  left: 0;

}

body{
background: linear-gradient(to bottom right,#e0e0e0,#21242b);

/*background-image: url(pics/p1.jpg);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

/*background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-color: gray;
opacity: 0.8;

margin: 0;
padding: 0;*/
}

/*body::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(57, 165, 24, 0.5);
}*/

body::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(pics/p1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  z-index: -1;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10px;
}

.logo{
  color: #ffffff;
  font-size: 28px;
  
  
}

span.logoa{
  color:blueviolet;
}

nav ul{
list-style-type: none;
margin: 0;
padding: 0;
}

nav ul li{
  
  display: inline-block;
  margin-right: 30px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bolder;
  
}

nav ul li a:hover{
  color: yellowgreen;
  transition: .3s;
}

button{
  border: none;
  background:yellowgreen ;
  padding: 12px 30px;
  border-radius: 30px ;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: .2s;
  text-decoration: none;
}
button:hover{
  transform: scale(1.3);
  cursor: pointer;
}

nav ul .logob{
  justify-content: end;
  margin-right: auto;
}

.statistics{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;

}

.join{
padding: 20px;
color: aliceblue;
margin-top: 20px;
/*max-width: 600px;*/
padding: 0 10%;

}

.statistics{
  display: flex ;
  padding: 20px;
  margin-top: 20px;
  /*position: absolute;
  width: 60vw;
  transform: translate(-50%, -50%) ;
  top: 100%;
  left: 50%;
  border: #21242b;
  bottom: 800px;*/
  justify-content: space-around;
  gap: 5px;
  
  
}
.container{
  width: 28vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: #21242b;
  border-bottom: 10px solid blueviolet;

}

.statistics i{
  color: aqua;
  font-size: 2.5em;
  text-align: center;
}
span.num{
  color: #ffffff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}
span.text{
  color: #e0e0e0;
  font-size: 1em;
  text-align: center;
  padding: 0.7em 0;
  font-weight: 400;
  line-height: 0;


}
.plus{
  color: #e0e0e0;
  font-size: 1em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;


}

/* responsive styles*/
@media screen and ( max-width: 1024px) {
.statistics{
      width:85vw;
  }
  
  .container{
      height:26vmin;
      width: 26vmin;
      font-size:12px;
  }
}
@media screen and (max-width: 796px) {
     .statistics{
          width: 90vw;
          flex-wrap: wrap;
          gap: 30px;
     }
     .container{
      width: calc(50%  -40%);
      height: 30vmin;
      font-size: 14px;
     }
  
}
@media screen and (max-width: 480px) {
  .statistics{
      width: 100%;
      flex-direction: column;
      align-items: center;
  }
  .container{
      width: 80%;
      height: 25vmin;
      font-size: 8px;
  }
  
}

.homeContent{
  max-width: 600px;
}

.middle{
 
  align-items: left;
  margin-top: auto;
  padding: 20px;
  color: beige;
  text-align: justify;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  

}


img{
  margin-left:75%;
  height: 300px;
  width: 400px;
}


form {
  background-color: transparent;
  border-radius: 3px;
  padding: 0;
  border: none;
  text-align: justify;
  margin: 20px;
  display: block;
  color: azure;
}

.form-row{
display: flex;
margin-bottom: 10px;
}

.form-col{
flex: 1;
margin-right: 10px;
}

label{
display: block;
margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
padding: 5px;
width: 100%;
}

input[type="radio"] {
margin-right: 5px;
vertical-align: middle;
margin-right: 5px;
}

/*label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  padding: 5px;
  margin-bottom: 10px;
  width: 200px;
}

input[type="radio"] {
  margin-right: 5px;
}

input[type="submit"] {
  background-color: blueviolet;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: darkviolet;
}
form {
  color: blueviolet;
}

.form-row {
  display: flex;
  margin-bottom: 10px;
}

.form-col {
  flex: 1;
  margin-right: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  padding: 5px;
  width: 100%;
}

input[type="radio"] {
  margin-right: 5px;
}*/

input[type="submit"] {
  background-color: yellowgreen;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  
  
}


input[type="submit"]:hover {
  background-color: yellowgreen;
  transform: scale(1.3);
  transition: .4s;
}

.mission1{
  padding: 30px;
}
